html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.boxes {
  width: 100%;
  height: 150px;
  /* background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%); */
}

.left-box {
  float: left;
}

.right-box {
  float: right;
  display: flex;
}

.box {
  /* width: 100px;
  height: 100px; */
  /* float: left; */
  padding: 10px;
  color: white;
}

.red {
  font-size: 70px;
}

.blue {
  font-size: 30px;
  margin-top: 90px;
}

.green {
  font-size: 30px;
  margin-top: 90px;
}

.pink {
  font-size: 30px;
  margin-top: 90px;
}

.bg-col {
  background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

.contents {
  color: white;
  font-size: 50px;
  font: bold;
  padding: 20px;
  margin: 10px;
  border: 2px solid white;
}

.station {
  font-size: 25px;
}

.explanation {
  font-size: 20px;
  color: black;
}